.App{
    background-image: url("./img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.App>h1{
    text-align: center;
}
.App>div {
    display: flex;
    /* min-height: 92vh; */
}
